// Base colors
$background-color: #161616;
$pink-accent: #ff05b0;
$white-accent: #ffffff;

// Font
$main-font: "Inter", sans-serif;

// Effects
$shadow-pink: 0 0 19.3px 0 $pink-accent;
$border-white: 1px solid $white-accent;
$border-radius: 0.9375rem;

body {
	background-color: $background-color;
	font-family: $main-font;

	width: 100vw;
	height: 100vh;
	display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
  margin: 0;
}

.logo-container {
	width: 100%;
}
